asgiref==3.11.1
coverage==7.6.12
Django==5.2.13
gunicorn==24.1.1
packaging==26.2
Pillow==11.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
python-magic==0.4.27
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise==6.12.0